APP_NAME=DocuFlow AI
APP_ENV=development
APP_DEBUG=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=docuflow_db
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password

DATABASE_URL=postgresql+psycopg://your_database_user:your_database_password@localhost:5434/docuflow_db